@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --turquoise: #a0cdc7;
  --green: #c6d7ac;
  --yellow: #f6eb99;
  --primary: #7ec4d8;
}

html {
  scroll-padding-top: 100px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
}

.spinner {
  margin: 200px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--turquoise);
    animation: prixClipFix 2s linear infinite;
  }

  &::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: var(--green);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}

.page-container {
  background: center / cover no-repeat url('https://i.ibb.co/QYQ6mM5/interfaz-web-2.png');
  height: 100%;
  width: 100vw;
}

.page-hero {
  background-image: url('https://i.ibb.co/cgsC8TW/plastic.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
  font-family: "Bebas Neue", sans-serif;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.3);
  }

  h1 {
    z-index: 100;
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  button {
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid white;

    &:hover,
    &:active,
    &:focus,
    &.btn-check:checked+.btn,
    &.btn.active,
    &.btn.show,
    &.btn:first-child:active,
    &:not(.btn-check)+.btn:active {
      background-color: rgb(255, 255, 255, 0.5);
      border: 1px solid white;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 10px 50px;

      &:hover {
        color: white
      }
    }
  }

  .hero-text {
    margin: 0 auto;
    position: absolute;
    top: 250px;
    width: 100%;
    text-align: center;
  }
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.side-menu {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  position: fixed;
  top: 90px;
  max-width: 150px;

  ul {
    list-style-type: none;

    li {
      padding: 5px 0;
      position: relative;

      &.active::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        width: 30%;
        background-color: var(--primary);
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

/* NAVBAR */

.bg-light .navbar-nav {
  .nav-link {
    color: var(--primary);

    &:focus {
      color: var(--primary);
    }

    &:hover,
    &.active,
    &.show {
      color: rgb(126, 196, 216, 0.6);
    }

  }
}

.bg-light {
  background-color: transparent;

  .nav-link,
  .dropdown-item {
    color: var(--primary);
  }
}



.navbar-brand {
  content: url('../../assets/images/logo.png');
  height: 50px;
}

/* CAROUSEL */
.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 3px !important;
}

.page-header {
  padding: 100px;
}

/* TEXT */

.text-section {
  text-align: justify;

  h3 {
    text-transform: uppercase;
  }
}

.description-page {
  padding: 100px;
  padding-left: 200px;
}

.description-section-left {
  display: flex;
  align-items: start;

  h2 {
    max-height: 400px;
  }

  .title {
    font-size: 3rem;
    text-align: end;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    padding-bottom: 20px;

    &::after {
      content: '';
      height: 5px;
      width: 100%;
      position: absolute;
      background-color: black;
      bottom: 0;
      left: 0;
    }
  }

  .content {
    padding-left: 50px
  }
}

.description-section-right {
  display: flex;
  align-items: start;

  h2 {
    max-height: 400px;
  }

  .title {
    font-size: 3rem;
    text-align: start;
    margin: 0;
    writing-mode: vertical-rl;
    position: relative;
    padding-top: 20px;

    &::after {
      content: '';
      height: 5px;
      width: 100%;
      position: absolute;
      background-color: black;
      top: 0;
      left: 0;
    }
  }

  .content {
    padding-right: 50px
  }
}


/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout+.bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}